// Copyright (c) 2023 Nordic Semiconductor ASA
// SPDX-License-Identifier: Apache-2.0

/dts-v1/;
#include <nordic/nrf52832_qfaa.dtsi>

/ {
	model = "Casambi CBM002";
	compatible = "casambi,cbm002";

	chosen {
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,code-partition = &slot0_partition;
	};

	leds {
		compatible = "gpio-leds";
		led0: led_0 {
			gpios = <&gpio0 0 GPIO_ACTIVE_HIGH>;
			label = "LED 0";
		};
		led1: led_1 {
			gpios = <&gpio0 1 GPIO_ACTIVE_HIGH>;
			label = "LED 1";
		};
		led2: led_2 {
			gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
			label = "LED 2";
		};
		led3: led_3 {
			gpios = <&gpio0 3 GPIO_ACTIVE_HIGH>;
			label = "LED 3";
		};
		led4: led_4 {
			gpios = <&gpio0 4 GPIO_ACTIVE_HIGH>;
			label = "LED 4";
		};
		led5: led_5 {
			gpios = <&gpio0 5 GPIO_ACTIVE_HIGH>;
			label = "LED 5";
		};
		led6: led_6 {
			gpios = <&gpio0 6 GPIO_ACTIVE_HIGH>;
			label = "LED 6";
		};
		led7: led_7 {
			gpios = <&gpio0 7 GPIO_ACTIVE_HIGH>;
			label = "LED 7";
		};
		led8: led_8 {
			gpios = <&gpio0 8 GPIO_ACTIVE_HIGH>;
			label = "LED 8";
		};
		led9: led_9 {
			gpios = <&gpio0 9 GPIO_ACTIVE_HIGH>;
			label = "LED 9";
		};
		led10: led_10 {
			gpios = <&gpio0 10 GPIO_ACTIVE_HIGH>;
			label = "LED 10";
		};
		led11: led_11 {
			gpios = <&gpio0 11 GPIO_ACTIVE_HIGH>;
			label = "LED 11";
		};
	};

	/* These aliases are provided for compatibility with samples */
	aliases {
		led0 = &led0;
		led1 = &led1;
		led2 = &led2;
		led3 = &led3;
		led4 = &led4;
		led5 = &led5;
		led6 = &led6;
		led7 = &led7;
		led8 = &led8;
		led9 = &led9;
		led10 = &led10;
		led11 = &led11;
	};
};

&gpio0 {
	status = "okay";
};

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x0 0xc000>;
		};
		slot0_partition: partition@c000 {
			label = "image-0";
			reg = <0xc000 0x32000>;
		};
		slot1_partition: partition@3e000 {
			label = "image-1";
			reg = <0x3e000 0x32000>;
		};
		scratch_partition: partition@70000 {
			label = "image-scratch";
			reg = <0x70000 0xa000>;
		};
		storage_partition: partition@7a000 {
			label = "storage";
			reg = <0x7a000 0x6000>;
		};
	};
};

